ENV=local

APP_NAME=workmate testovoe
VERSION=v0.1.0

JAEGER_ENDPOINT=http://localhost:4317

HTTP_HOST=localhost
HTTP_PORT=4000

PG_NAME=workmate-db
PG_USER=workmate
PG_PASS=workmate
PG_HOST=localhost
PG_PORT=5432
